.jun {
  padding-top: 80px;
  padding-bottom: 40px;
}
.jun-heading {
  color: #1a1a1a;
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;

  margin-bottom: 32px;
}

.jun-block {
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: #ebe6fa;
}

.jun-start {
  color: rgb(26, 26, 26);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
