<section class="aboutDesign">
  <div class="container">
    <h2 class="aboutDesign-heading">
      Курс від GoITeens — це можливість розпочати кар’єру цифрового дизайнера
      вже у школі
    </h2>
    <p class="aboutDesign-description">
      Дизайн — це найбільш творчий та доступний для опанування напрям у IT.
    </p>
    <p class="aboutDesign-description">
      Аби стати айтівцем, дитині не обов’язково вчити програмування. Дизайн не
      потребує знання коду, математичних здібностей та навіть художнього хисту.
    </p>
    <p class="aboutDesign-description">
      Та при цьому цифровий дизайн — один з найперспективніших напрямів у IT.
      Дизайнери беруть участь у створенні вебсайтів, застосунків, програмного
      забезпечення, ігор, реклами тощо.
    </p>

    <!-- <ul class="aboutDesign-list">
      <li class="aboutDesign-item">
        <p class="aboutDesign-item--topline">Вік студентів</p>
        <p class="aboutDesign-item--bottomline">10-16 років</p>
      </li>
      <li class="aboutDesign-item">
        <p class="aboutDesign-item--topline">Тривалість курсу</p>
        <p class="aboutDesign-item--bottomline">12/24 місяці</p>
      </li>
      <li class="aboutDesign-item">
        <p class="aboutDesign-item--topline">Для навчання потрібно</p>
        <p class="aboutDesign-item--bottomline">комп'ютер чи ноутбук</p>
      </li>
      <li class="aboutDesign-item">
        <p class="aboutDesign-item--topline">Випускників</p>
        <div class="aboutDesign-item--bottomline">
          <img src="./assets/imgs/underHero/first.webp" alt="" />
          <img src="./assets/imgs/underHero/second.webp" alt="" />
          <img src="./assets/imgs/underHero/third.webp" alt="" />
          <img src="./assets/imgs/underHero/four.webp" alt="" />
        </div>
      </li>
    </ul> -->
    <ul class="aboutDesign-list">
      <li class="aboutDesign-item">
        <div class="aboutDesign-firstblock">
          <p class="aboutDesign-item--topline">Вік студентів</p>
          <p class="aboutDesign-item--bottomline">10-16 років</p>
        </div>
        <div>
          <p class="aboutDesign-item--topline">Тривалість курсу</p>
          <p class="aboutDesign-item--bottomline">12/24 місяці</p>
        </div>
      </li>
      <li class="aboutDesign-item">
        <div class="aboutDesign-secondblock">
          <p class="aboutDesign-item--topline">Для навчання потрібно</p>
          <p class="aboutDesign-item--bottomline">комп'ютер чи ноутбук</p>
        </div>
        <div>
          <p class="aboutDesign-item--topline">Випускників</p>
          <div class="aboutDesign-item--bottomline photos">
            <img src="./assets/imgs/underHero/first.webp" alt="" />
            <img src="./assets/imgs/underHero/second.webp" alt="" />
            <img src="./assets/imgs/underHero/third.webp" alt="" />
            <img src="./assets/imgs/underHero/four.webp" alt="" />
            <p class="number">420+</p>
          </div>
        </div>
      </li>
    </ul>

    <form class="aboutDesign-form">
      <div class="input-wrapper">
        <input
          placeholder="Введіть своє імʼя"
          type="text"
          class="aboutDesign-input"
        />
        <i class="x-mark fa-solid fa-xmark"></i>
      </div>
      <div class="input-wrapper">
        <div class="flag"></div>
        <i class="arrow-bottom fa-solid fa-chevron-down"></i>
        <input
          placeholder="+38 (066) 123 45 67"
          id="phone"
          type="text"
          class="aboutDesign-input mobile"
        />
        <i class="x-mark fa-solid fa-xmark"></i>
      </div>
      <div class="input-wrapper">
        <input
          placeholder="Введіть свій email"
          type="email"
          class="aboutDesign-input"
        />
        <i class="x-mark fa-solid fa-xmark"></i>
      </div>
      <div class="input-wrapper">
        <input
          type="text"
          class="aboutDesign-input"
          placeholder="Введіть промокод"
        />
        <i class="x-mark fa-solid fa-xmark"></i>
      </div>
      <button class="aboutDesign-button">Записатися на безоплатний урок</button>
    </form>
  </div>
</section>
