<!-- <section class="jun">
  <div class="container">
    <h2 class="jun-heading">Спробувати себе в дизайні може кожна дитина</h2>
    <div class="jun-block">
      <h3 class="jun-start">Початковий курс Design Junior</h3>
      <ul class="jun-feature--list">
        <li class="jun-feature--item">
          <p class="jun-feature-text">Група для дітей 10-12 років</p>
        </li>
        <li class="jun-feature--item">
          <p class="jun-feature-text">12 місяців</p>
        </li>
        <li class="jun-feature--item">
          <p class="jun-feature-text">2 заняття на тиждень по 60-90 хв</p>
        </li>
      </ul>
      <p class="jun-description">
        Цей курс — знайомство з основами дизайну, популярними сервісами та
        інструментами початкового рівня. На ньому діти навчаться створювати
        графічні образи та використовувати їх для оформлення соцмереж та
        шкільних проєктів.
      </p>
      <h3 class="jun-heading-programs">
        На цьому курсі студенти навчаються та працюють в таких програмах:
      </h3>
      <ul class="jun-program--list">
        <li class="jun-program--item">
          <img
            src="./assets/imgs/jun/photopea.webp"
            alt=""
            class="jun-program--img"
          />
          <p class="jun-program--description">
            Безкоштовний повноцінний редактор зображень, який працює у браузері
          </p>
        </li>
        <li class="jun-program--item">
          <img
            src="./assets/imgs/jun/canva.webp"
            alt=""
            class="jun-program--img"
          />
          <p class="jun-program--description">
            Безкоштовний графічний редактор, який чудово підходить для новачків
            у дизайні
          </p>
        </li>
        <li class="jun-program--item">
          <img
            src="./assets/imgs/jun/wix.webp"
            alt=""
            class="jun-program--img"
          />
          <p class="jun-program--description">
            Міжнародна платформа, яка дозволяє конструювати сайти без знання
            коду
          </p>
        </li>
      </ul>
    </div>
  </div>
</section> -->
