<!-- <header>
  <a class="header-logo--link" href=""
    ><img
      class="header-logo--img"
      src="./assets/imgs/header/logo-1x.webp"
      alt=""
  /></a>
  <button class="header-mobile--button">
    <svg class="header-mobile--svg">
      <use href="./assets/imgs/symbol-defs.svg#icon-burger"></use>
    </svg>
  </button>
</header> -->

<header
  class="bg-white shadow-md flex items-center justify-between px-4 py-3 md:px-8"
>
  <a href="#" class="text-black hover:text-gray-700">
    <img
      src="./assets/imgs/header/logo-1x.webp"
      alt="Logo"
      class="w-auto h-8"
    />
  </a>

  <button class="header-mobile--button">
    <svg class="header-mobile--svg">
      <use href="./assets/imgs/symbol-defs.svg#icon-burger"></use>
    </svg>
  </button>
</header>
