<section class="hero">
  <div class="container">
    <p class="hero-text">Курси вебдизайну для підлітків</p>
    <h1 class="hero-heading">WEB DESIGN</h1>
    <img
      class="part--backgroundImg-picture"
      src="./assets/imgs/hero/picture.webp"
      alt="part--backgroundImg-picture"
    />
    <img
      class="part--backgroundImg-boy"
      src="./assets/imgs/hero/boy.webp"
      alt=""
    />
    <img
      class="aboutDesign-toppart"
      src="./assets/imgs/hero/toppart.webp"
      alt=""
    />
  </div>
</section>
